<nav class="navbar fixed-bottom">
  <ul class="nav justify-content-around w-100">
    <li class="nav-item">
      <a class="nav-link" routerLink="/inicio">
        <i class="bi bi-house"></i> <!-- Ícone de exemplo -->
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/pagamentos">
        <i class="bi bi-bag"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/cartoes">
        <i class="bi bi-credit-card"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="confirmModal.openModal()">
        <i class="bi bi-box-arrow-left"></i>
      </a>
    </li>
  </ul>
</nav>
<app-confirm-modal
  #confirmModal
  [title]="'Confirmar Logout'"
  [message]="logoutMessage()"
  (onConfirm)="logout()"
></app-confirm-modal>
