//##############################//
//#          IMPORTS           #//
//##############################//

// Bootstrap
@import "bootstrap/scss/bootstrap";

// App
@import "app/scss/_variables.scss";

//##############################//
//#           FONTS            #//
//##############################//

// Poppins
@font-face {
  font-family: 'Poppins-Light';
  src: url('../public/fonts/Poppins-Light.ttf')
}

@font-face {
  font-family: 'Poppins-Medium';
  src: url('../public/fonts/Poppins-Medium.ttf')
}

@font-face {
  font-family: 'Poppins-Regular';
  src: url('../public/fonts/Poppins-Regular.ttf')
}

@font-face {
  font-family: 'Poppins-Thin';
  src: url('../public/fonts/Poppins-Thin.ttf')
}

@font-face {
  font-family: 'Poppins-Bold';
  src: url('../public/fonts/Poppins-Bold.ttf')
}

// DMSans
@font-face {
  font-family: 'DMSans-Light';
  src: url('../public/fonts/DMSans-Light.ttf')
}

@font-face {
  font-family: 'DMSans-Medium';
  src: url('../public/fonts/DMSans-Medium.ttf')
}

@font-face {
  font-family: 'DMSans-Regular';
  src: url('../public/fonts/DMSans-Regular.ttf')
}

@font-face {
  font-family: 'DMSans-Thin';
  src: url('../public/fonts/DMSans-Thin.ttf')
}

@font-face {
  font-family: 'DMSans-Bold';
  src: url('../public/fonts/DMSans-Bold.ttf')
}

//##############################//
//#           STYLES           #//
//##############################//
body, html {
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}

app-root {
  padding-bottom: 60px; /* Espaço para evitar sobreposição com a navbar fixa */
}

h1 {
  font-size: .8rem;
  color: $app-cor-preto;
  font-family: 'Poppins-Medium', serif;
}

label {
  font-size: .8rem;
  font-family: 'DMSans-Regular', serif;
}

input {
  font-size: .8rem !important;
  font-family: 'Poppins-Light', serif;
}

.form-control:focus {
  border-color: #ffe69c; /* Define a nova cor da borda */
  box-shadow: 0 0 0 0.25rem rgba(255, 230, 156, 0.5); /* Usa a cor #ffe69c com transparência */
}

.app-btn {
  border-radius: 5px 0 5px 0;
  background-color: $app-cor-amarelo;
  border: 2px solid $app-cor-amarelo;
  color: $app-cor-preto;
  font-weight: 500;

  &:hover {
    background-color: lighten($app-cor-amarelo, 15%);
    border-color: $app-cor-amarelo;
    color: lighten($app-cor-preto, 7%);
  }

  &:disabled {
    @extend .text-muted;
    background-color: $app-cor-amarelo;
    border-color: $app-cor-amarelo;
    cursor: not-allowed;
    opacity: 0.6;
  }

  &.muted {
    background-color: transparent; /* Fundo transparente */
    border: 2px solid $app-cor-cinza; /* Borda cinza suave */
    color: $app-cor-preto;

    &:hover {
      background-color: $app-cor-cinza; /* Fundo amarelo suave no hover */
      border-color: $app-cor-cinza; /* Ajusta a borda no hover */
      color: $app-cor-preto;
    }

    &:active {
      background-color: #ffd74d; /* Amarelo mais escuro ao clicar */
      border-color: #ffd74d;
      color: #222; /* Texto mais escuro */
    }

    &:disabled {
      background-color: transparent;
      border-color: #ccc; /* Borda cinza claro */
      color: #aaa; /* Texto desabilitado */
      cursor: not-allowed;
      opacity: 0.6;
    }
  }

}

.app-btn-muted {
  background-color: transparent; /* Fundo transparente */
  border: 2px solid #999999; /* Borda cinza suave */
  color: #333; /* Texto cinza escuro */
  border-radius: 0; /* Botão quadrado */
  transition: all 0.3s ease; /* Animação suave ao interagir */
}

.app-btn-muted:hover {
  background-color: #ffe69c; /* Fundo amarelo no hover */
  border-color: #ffe69c; /* Borda amarela no hover */
  color: #333; /* Texto permanece cinza escuro */
}
